.container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: white;
}

.board {
    display: flex;
    flex-direction: column;
    border: 5px solid grey;

    .row {
        display: flex;
        align-self: center;

        .cell {
            width: 25px;
            height: 25px;
            border: 1px solid white;
        }
    }
}

.board.gameIsOver {
    opacity: 0.3;
    background-color: lightgrey;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        width: fit-content;
        margin: 0 auto;
    }

    .board {
        border: none;
    }
}