.modal {
  position: absolute;
  background-color:lightgray;
  padding: 3rem 1rem;
  top: 10%;
  left: 0;
  right: 0;
  max-width: 300px;
  height: fit-content;
  margin: 0 auto;
  text-align: center;

  ul {
    text-align: left;
  }
}